@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Varta:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
html {
  scroll-behavior: smooth;
}

body {
  background-color: #F3EEE8;
}

.wrapper {
  padding: 0px 0px 0px 10vw;
  overflow: hidden;
  position: relative;
}

.hello__block {
  margin: 0px 0px 64px 0px;
}
.hello__body {
  position: relative;
}
.hello__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 50px;
  top: 55px;
  left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hello__header::after {
  content: url(../img/contact.svg);
  position: absolute;
  top: 0;
  right: 50px;
}
.hello__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hello__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 35%;
          flex: 0 1 35%;
  padding: 15% 0px 0px 0px;
}
.hello__uptitle {
  color: #A06056;
  margin: 0px 0px 50px 0px;
  font-family: "Varta";
  font-size: 14px;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 1px;
}
.hello__title {
  color: #A06056;
  margin: 0px 0px 30px 0px;
  font-family: "Merriweather";
  font-size: 50px;
  font-weight: 300;
  line-height: 140%;
  letter-spacing: -0.4px;
}
.hello__subtitle {
  color: #7e7469;
  margin: 0px 0px 48px 0px;
  font-family: "Varta";
  font-size: 22px;
  font-weight: 300;
  line-height: 140%;
}
.hello__arrow {
  width: 50px;
  height: 50px;
  border: 2px solid #A06056;
  border-radius: 50%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.hello__arrow:hover {
  background-color: #A06056;
}
.hello__link {
  display: block;
  position: relative;
  height: 100%;
  cursor: pointer;
}
.hello__link::before {
  content: url(../img/arrow-down.svg);
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.hello__link:hover::before {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}
.hello__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  overflow: hidden;
}
.hello__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu {
  padding: 4px 0px 0px 0px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__item {
  margin: 0px 24px 0px 0px;
}
.header__burger {
  display: none;
}

.room__block {
  margin: 0px 0px 134px 0px;
}
.room__title {
  color: #706458;
  margin: 0px 0px 48px 0px;
  font-family: "Merriweather";
  font-size: 55px;
  font-weight: 300;
  line-height: 109%;
  letter-spacing: -0.6px;
}
.room__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 48px 0px;
}
.room__description {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 165px;
          flex: 1 0 165px;
  width: 100%;
  margin: 0px 24px 0px 0px;
  color: #7e7469;
  font-family: "Varta";
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
}
.room__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.room__navigation-pagination {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 165px;
          flex: 0 1 165px;
}
.room__pagination {
  color: #7e7469;
  font-family: "Varta";
  font-size: 18px;
  font-weight: 400;
  line-height: 139%;
  opacity: 0.5;
}
.room__navigation-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #A06056;
  font-family: "Karla";
  font-size: 20px;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 0.3px;
}
.room__button-prev {
  position: relative;
  padding: 0px 25px 0px 25px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
}
.room__button-prev::before {
  content: url(../img/arrow-right.svg);
  position: absolute;
  top: -2px;
  left: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}
.room__button-prev:hover::before {
  left: -10px;
}
.room__button-prev:hover {
  font-size: 21px;
}
.room__button-next {
  position: relative;
  padding: 0px 25px 0px 0px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
}
.room__button-next::after {
  content: url(../img/arrow-right.svg);
  position: absolute;
  height: 80%;
  top: 3px;
  right: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.room__button-next:hover::after {
  right: -10px;
}
.room__button-next:hover {
  font-size: 21px;
}

.room-slider__slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.room-slider__title {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #A06056;
  font-family: "Merriweather";
  font-size: 55px;
  font-weight: 400;
  line-height: 109%;
  letter-spacing: -0.6px;
}
.room-slider__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  padding: 0px 32px 0px 0px;
}
.room-slider__image img {
  width: 100%;
}
.room-slider__description {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  padding: 0px 32px 0px 0px;
  color: #7e7469;
  font-family: "Varta";
  font-size: 18px;
  font-weight: 400;
  line-height: 139%;
}

.swiper-button-disabled {
  opacity: 0.5;
}
.swiper-button-disabled:hover {
  font-size: 20px;
}
.swiper-button-disabled:hover::before {
  left: 0;
}
.swiper-button-disabled:hover::after {
  right: 0;
}

.about__block {
  margin: 0px 0px 70px 0px;
}
.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 11% 0px 0px;
}
.about__left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0px 48px 0px 0px;
}
.about__title {
  max-width: 458px;
  color: #706458;
  margin: 0px 0px 30px 0px;
  font-family: "Merriweather";
  font-size: 55px;
  font-weight: 300;
  line-height: 109%;
  letter-spacing: -0.6px;
  -webkit-animation: move 40s infinite;
          animation: move 40s infinite;
}
.about__link {
  display: inline-block;
  -webkit-animation: move 10s infinite;
          animation: move 10s infinite;
}
.about__right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin: -15px 0px;
  padding: 20px 0px 0px 0px;
}
.about__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -14.5px;
  padding: 15px 0px;
}
.about__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0 14.5px;
}
.about__item {
  -webkit-animation: move 20s infinite;
          animation: move 20s infinite;
}
.about__item_1 {
  -webkit-animation: move 20s infinite;
          animation: move 20s infinite;
}
.about__item_2 {
  -webkit-animation: move 20s infinite 1s;
          animation: move 20s infinite 1s;
}
.about__item_3 {
  -webkit-animation: move 20s infinite 2s;
          animation: move 20s infinite 2s;
}
.about__item_4 {
  -webkit-animation: move 20s infinite 3s;
          animation: move 20s infinite 3s;
}
@-webkit-keyframes move {
  0% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  25% {
    -webkit-transform: translate(10%, -10%);
            transform: translate(10%, -10%);
  }
  50% {
    -webkit-transform: translate(20%, 0%);
            transform: translate(20%, 0%);
  }
  75% {
    -webkit-transform: translate(10%, 10%);
            transform: translate(10%, 10%);
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}
@keyframes move {
  0% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  25% {
    -webkit-transform: translate(10%, -10%);
            transform: translate(10%, -10%);
  }
  50% {
    -webkit-transform: translate(20%, 0%);
            transform: translate(20%, 0%);
  }
  75% {
    -webkit-transform: translate(10%, 10%);
            transform: translate(10%, 10%);
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}
.about__item-title {
  color: #A06056;
  margin: 0px 0px 12px 0px;
  font-family: "Varta";
  font-size: 25px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.2px;
}
.about__item-text {
  color: #7e7469;
  font-family: "Varta";
  font-size: 18px;
  font-weight: 400;
  line-height: 139%;
}

.link {
  position: relative;
  display: inline;
  color: #706458;
  font-family: "Varta";
  font-size: 18px;
  font-weight: 400;
  line-height: 139%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.link:after {
  content: "";
  position: absolute;
  background-color: #A06056;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.link:hover:after {
  width: 100%;
}
.link__more {
  position: relative;
  color: #A06056;
  padding: 0px 15px 0px 0px;
  font-family: "Karla";
  font-size: 17px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.3px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.link__more::after {
  content: url(../img/arrow-right-small.svg);
  position: absolute;
  top: -2px;
  right: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.link__more:hover::after {
  right: -5px;
  opacity: 0.75;
}
.link__more:hover {
  opacity: 0.75;
}

.logo {
  color: #A06056;
  margin: 0px 32px 0px 0px;
  font-family: "Merriweather";
  font-size: 34px;
  font-weight: 700;
  line-height: 74%;
  letter-spacing: 2px;
  text-transform: lowercase;
}

.trends__block {
  margin: 0px 0px 0px -10vw;
  padding: 70px 0px 70px 10vw;
  background-color: #fff;
}
.trends__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 90%;
  margin: 0px 0px 64px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}
.trends__left {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.trends__title {
  color: #121212;
  margin: 0px 0px 15px 0px;
  font-family: "Merriweather";
  font-size: 35px;
  font-weight: 300;
  line-height: 114%;
  letter-spacing: -0.3px;
}
.trends__subtitle {
  color: #7e7469;
  margin: 0px 0px 10px 0px;
  font-family: "Varta";
  font-size: 18px;
  font-weight: 400;
  line-height: 139%;
}
.trends__link {
  display: inline-block;
}
.trends__link::after {
  top: 0;
}
.trends__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
}
.trends__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.trends__input {
  width: 100%;
  background-color: rgba(243, 238, 232, 0.3019607843);
  color: rgba(112, 100, 88, 0.9019607843);
  margin: 0px 18px 0px 0px;
  padding: 0px 0px 0px 15px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  font-family: "Varta";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}
.trends__input:focus {
  -webkit-box-shadow: 0 0 10px #F3EEE8;
          box-shadow: 0 0 10px #F3EEE8;
}
.trends__btn {
  background: #534B42;
  color: #FFFFFF;
  padding: 2% 8%;
  border-radius: 1px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  font-family: "Karla";
  font-size: 17px;
  font-weight: 700;
  line-height: 147%;
  letter-spacing: 0.3px;
}
.trends__btn:hover {
  border-radius: 10px;
}
.trends__slider {
  margin: 0px 0px 40px 0px;
}
.trends__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 91.5%;
}
.trends__footer-title {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  margin-right: 3%;
  color: #534B42;
  font-family: "Merriweather";
  font-size: 45px;
  font-weight: 300;
  line-height: 89%;
  letter-spacing: -0.3px;
}
.trends__footer-text {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  color: #706458;
  font-family: "Varta";
  font-size: 18px;
  font-weight: 400;
  line-height: 139%;
}
.trends__navigation {
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  padding: 0px 11% 0px 0px;
  text-align: right;
}
.trends__navigation-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin: 0px 0px 20px 0px;
}
.trends__button-prev, .trends__button-next {
  position: relative;
  width: 40px;
  height: 40px;
  border: 2px solid #A06056;
  border-radius: 50%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.trends__button-prev::before, .trends__button-next::before {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.trends__button-prev:hover, .trends__button-next:hover {
  background-color: #A06056;
}
.trends__button-prev:hover::before, .trends__button-next:hover::before {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}
.trends__button-prev.swiper-button-disabled:hover, .trends__button-next.swiper-button-disabled:hover {
  background-color: #fff;
}
.trends__button-prev.swiper-button-disabled:hover::before, .trends__button-next.swiper-button-disabled:hover::before {
  -webkit-filter: none;
          filter: none;
}
.trends__button-prev {
  margin: 0px 11px 0px 0px;
}
.trends__button-prev::before {
  content: url(../img/arrow-left.svg);
  top: 52%;
  left: 47%;
}
.trends__button-prev.swiper-button-disabled:hover::before {
  left: 47%;
}
.trends__button-next::before {
  content: url(../img/arrow-right.svg);
  top: 52%;
  left: 53%;
}
.trends__button-next.swiper-button-disabled:hover::before {
  left: 53%;
}
.trends__navigation-pagination {
  padding: 0px 16% 0px 0px;
}
.trends__pagination {
  color: #7e7469;
  font-family: "Varta";
  font-size: 18px;
  font-weight: 400;
  line-height: 139%;
  opacity: 0.5;
}

.trends-slider__slide {
  padding: 0px 2% 0px 0px;
}
.trends-slider__image {
  height: 65vh;
}
.trends-slider__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer__block {
  margin: 0px 0px 64px 0px;
}
.footer__body {
  padding: 5% 10% 0px 0px;
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 40px 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__logo {
  -webkit-box-flex: 5%;
      -ms-flex: 5%;
          flex: 5%;
  color: #534B42;
  margin: 0px 0px 40px 0px;
  padding: 0px 64px 0px 0px;
}
.footer__menu {
  -webkit-box-flex: 65%;
      -ms-flex: 65%;
          flex: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -24px 0px -24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__menu-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  margin: 0px 0px 40px 0px;
  padding: 0 24px;
}
.footer__menu-title {
  color: #534B42;
  margin: 0px 0px 22px 0px;
  font-family: "Varta";
  font-size: 25px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.2px;
}
.footer__menu-link {
  display: block;
  margin: 0px 0px 12px 0px;
  white-space: nowrap;
}
.footer__menu-link:hover:after {
  width: 50%;
}
.footer__menu-link:last-child {
  margin: 0px 0px 0px 0px;
}
.footer__news {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
}
.footer__news-title {
  color: #534B42;
  margin: 0px 0px 24px 0px;
  font-family: "Varta";
  font-size: 25px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.2px;
}
.footer__news-img {
  margin: 0px 0px 15px 0px;
  overflow: hidden;
}
.footer__news-img img {
  width: 100%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.footer__news-img img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.footer__news-text {
  color: #706458;
  margin: 0px 0px 15px 0px;
  font-family: "Varta";
  font-size: 16px;
  font-weight: 400;
  line-height: 156%;
}
.footer__link {
  display: inline-block;
}
.footer__link::after {
  top: 1px;
}
.footer__social-links {
  margin: 0px 0px 20px 0px;
  text-align: center;
}
.footer__social-link {
  color: rgba(112, 100, 88, 0.7019607843);
  margin: 0px 24px 0px 0px;
  font-size: 32px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.footer__social-link:hover {
  -webkit-transform: translate(0px, -25%);
          transform: translate(0px, -25%);
}
.footer__social-inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__social-year {
  color: rgba(112, 100, 88, 0.7019607843);
  font-family: "Varta";
  font-size: 18px;
  font-weight: 400;
  line-height: 139%;
}
.footer__policy-link {
  color: rgba(112, 100, 88, 0.7019607843);
  margin: 0px 0px 0px 30px;
  font-family: "Varta";
  font-size: 18px;
  font-weight: 400;
  line-height: 139%;
}
.footer__policy-link:hover {
  text-decoration: underline;
}