@import "nullstyle.scss";

// #7e7469

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F3EEE8;
}

.wrapper {
    padding: 0px 0px 0px 10vw;
    overflow: hidden;
    position: relative;
}

.hello {

    &__block {
        margin: 0px 0px 64px 0px;
    }

    &__body {
        position: relative;
    }

    &__header {
        display: flex;
        position: absolute;
        width: 100%;
        height: 50px;
        top: 55px;
        left: 0;
        align-items: center;

        &::after {
            content: url(../img/contact.svg);
            position: absolute;
            top: 0;
            right: 50px;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__text {
        flex: 0 1 35%;
        padding: 15% 0px 0px 0px;
    }

    &__uptitle {
        color: #A06056;
        margin: 0px 0px 50px 0px;
        font-family: 'Varta';
        font-size: 14px;
        font-weight: 700;
        line-height: 143%;
        letter-spacing: 1px;
    }

    &__title {
        color: #A06056;
        margin: 0px 0px 30px 0px;
        font-family: 'Merriweather';
        font-size: 50px;
        font-weight: 300;
        line-height: 140%;
        letter-spacing: -0.4px;
    }

    &__subtitle {
        color: #7e7469;
        margin: 0px 0px 48px 0px;
        font-family: 'Varta';
        font-size: 22px;
        font-weight: 300;
        line-height: 140%;
    }

    &__arrow {
        width: 50px;
        height: 50px;
        border: 2px solid #A06056;
        border-radius: 50%;
        transition: 0.5s ease;

        &:hover {
            background-color: #A06056;
        }
    }

    &__link {
        display: block;
        position: relative;
        height: 100%;
        cursor: pointer;

        &::before {
            content: url(../img/arrow-down.svg);
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: 0.5s ease;
        }

        &:hover::before {
            filter: brightness(0) invert(1);
        }
    }

    &__img {
        flex: 0 1 50%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.header {

    &__body {
        display: flex;
        align-items: center;
    }

    &__logo {}

    &__menu {
        padding: 4px 0px 0px 0px;
    }

    &__list {
        display: flex;
    }

    &__item {
        margin: 0px 24px 0px 0px;
    }

    &__link {}

    &__burger {
        display: none;
    }
}

.room {

    &__block {
        margin: 0px 0px 134px 0px;
    }

    &__body {}

    &__title {
        color: #706458;
        margin: 0px 0px 48px 0px;
        font-family: 'Merriweather';
        font-size: 55px;
        font-weight: 300;
        line-height: 109%;
        letter-spacing: -0.6px;
    }

    &__content {
        display: flex;
        margin: 0px 0px 48px 0px;
    }

    &__description {
        flex: 1 0 165px;
        width: 100%;
        margin: 0px 24px 0px 0px;
        color: #7e7469;
        font-family: 'Varta';
        font-weight: 400;
        font-size: 18px;
        line-height: 139%;
    }

    &__slider {}

    &__navigation {
        display: flex;
    }

    &__navigation-pagination {
        flex: 0 1 165px;
    }

    &__pagination {
        color: #7e7469;
        font-family: 'Varta';
        font-size: 18px;
        font-weight: 400;
        line-height: 139%;
        opacity: 0.5;
    }

    &__navigation-button {
        display: flex;
        color: #A06056;
        font-family: 'Karla';
        font-size: 20px;
        font-weight: 700;
        line-height: 125%;
        letter-spacing: 0.3px;
    }

    &__button-prev {
        position: relative;
        padding: 0px 25px 0px 25px;
        transition: 0.5s ease;
        cursor: pointer;

        &::before {
            content: url(../img/arrow-right.svg);
            position: absolute;
            top: -2px;
            left: 0;
            transform: rotate(180deg);
            transition: 0.25s ease;
        }

        &:hover::before {
            left: -10px;
        }

        &:hover {
            font-size: 21px;
        }
    }

    &__button-next {
        position: relative;
        padding: 0px 25px 0px 0px;
        transition: 0.5s ease;
        cursor: pointer;

        &::after {
            content: url(../img/arrow-right.svg);
            position: absolute;
            height: 80%;
            top: 3px;
            right: 0;
            transition: 0.5s ease;
        }

        &:hover::after {
            right: -10px;
        }

        &:hover {
            font-size: 21px;
        }
    }

}

.room-slider {

    &__wrapper {}

    &__slide {
        position: relative;
        display: flex;
    }

    &__title {
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;

        color: #A06056;
        font-family: 'Merriweather';
        font-size: 55px;
        font-weight: 400;
        line-height: 109%;
        letter-spacing: -0.6px;
    }

    &__image {
        flex: 1 1 60%;
        padding: 0px 32px 0px 0px;

        img {
            width: 100%;
        }
    }

    &__description {
        flex: 1 1 40%;

        padding: 0px 32px 0px 0px;
        color: #7e7469;
        font-family: 'Varta';
        font-size: 18px;
        font-weight: 400;
        line-height: 139%;
    }
}

.swiper-button-disabled {
    opacity: 0.5;

    &:hover {
        font-size: 20px;
    }

    &:hover::before {
        left: 0;
    }

    &:hover::after {
        right: 0;
    }
}

.about {

    &__block {
        margin: 0px 0px 70px 0px;
    }

    &__body {
        display: flex;
        padding: 0px 11% 0px 0px;
    }

    &__left {
        flex: 1 1 50%;
        padding: 0px 48px 0px 0px;
    }

    &__title {
        max-width: 458px;
        color: #706458;
        margin: 0px 0px 30px 0px;
        font-family: 'Merriweather';
        font-size: 55px;
        font-weight: 300;
        line-height: 109%;
        letter-spacing: -0.6px;
        animation: move 40s infinite;
    }

    &__link {
        display: inline-block;
        animation: move 10s infinite;
    }

    &__right {
        flex: 1 1 50%;
        margin: -15px 0px;
        padding: 20px 0px 0px 0px;
    }

    &__row {
        display: flex;
        margin: 0 -14.5px;
        padding: 15px 0px;
    }

    &__column {
        flex: 1 1 50%;
        padding: 0 14.5px;
    }

    &__item {
        animation: move 20s infinite;

        &_1 {
            animation: move 20s infinite;
        }

        &_2 {
            animation: move 20s infinite 1s;
        }

        &_3 {
            animation: move 20s infinite 2s;
        }

        &_4 {
            animation: move 20s infinite 3s;
        }

        @keyframes move {
            0% {
                transform: translate(0%, 0%);
            }

            25% {
                transform: translate(10%, -10%);
            }

            50% {
                transform: translate(20%, 0%);
            }

            75% {
                transform: translate(10%, 10%);
            }

            100% {
                transform: translate(0%, 0%);
            }
        }
    }

    &__item-title {
        color: #A06056;
        margin: 0px 0px 12px 0px;
        font-family: 'Varta';
        font-size: 25px;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: -0.2px;
    }

    &__item-text {
        color: #7e7469;
        font-family: 'Varta';
        font-size: 18px;
        font-weight: 400;
        line-height: 139%;
    }
}

.link {
    display: inline-block;
    color: #706458;
    font-family: 'Varta';
    font-size: 18px;
    font-weight: 400;
    line-height: 139%;
    transition: 0.5s ease;

    &:hover {
        text-decoration: underline;
    }

    &__more {
        position: relative;
        color: #A06056;
        padding: 0px 15px 0px 0px;
        font-family: 'Karla';
        font-size: 17px;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0.3px;
        transition: 0.5s ease;

        &::after {
            content: url(../img/arrow-right-small.svg);
            position: absolute;
            top: -2px;
            right: 0;
            transition: 0.5s ease;
        }

        &:hover::after {
            right: -5px;
            opacity: 0.75;

        }

        &:hover {
            opacity: 0.75;
        }
    }
}

.logo {
    color: #A06056;
    margin: 0px 32px 0px 0px;
    font-family: 'Merriweather';
    font-size: 34px;
    font-weight: 700;
    line-height: 74%;
    letter-spacing: 2px;
    text-transform: lowercase;
}

.trends {

    &__block {
        margin: 0px 0px 0px -10vw;
        padding: 70px 0px 70px 10vw;
        background-color: #fff;
    }

    &__body {}

    &__header {
        display: flex;
        max-width: 90%;
        margin: 0px 0px 64px 0px;
        justify-content: space-between;
        align-items: center;
        flex: 50%;
    }

    &__left {
        flex-grow: 1;
    }

    &__title {
        color: #121212;
        margin: 0px 0px 15px 0px;
        font-family: 'Merriweather';
        font-size: 35px;
        font-weight: 300;
        line-height: 114%;
        letter-spacing: -0.3px;
    }

    &__subtitle {
        color: #7e7469;
        margin: 0px 0px 10px 0px;
        font-family: 'Varta';
        font-size: 18px;
        font-weight: 400;
        line-height: 139%;
    }

    &__link {
        display: inline-block;

        &::after {
            top: 0;
        }
    }

    &__right {
        flex: 0 1 45%;
    }

    &__form {
        display: flex;
    }

    &__input {
        width: 100%;
        background-color: #F3EEE84D;
        color: #706458e6;
        margin: 0px 18px 0px 0px;
        padding: 0px 0px 0px 15px;
        transition: 0.5s ease;

        font-family: 'Varta';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;

        &:focus {
            box-shadow: 0 0 10px #F3EEE8;
        }
    }

    &__btn {
        background: #534B42;
        color: #FFFFFF;
        padding: 2% 8%;
        border-radius: 1px;
        transition: 0.5s ease;

        font-family: 'Karla';
        font-size: 17px;
        font-weight: 700;
        line-height: 147%;
        letter-spacing: 0.3px;


        &:hover {
            border-radius: 10px;
        }
    }

    &__slider {
        margin: 0px 0px 40px 0px;
    }

    &__footer {
        display: flex;
        max-width: 91.5%;
    }

    &__footer-title {
        flex: 30%;
        margin-right: 3%;
        color: #534B42;
        font-family: 'Merriweather';
        font-size: 45px;
        font-weight: 300;
        line-height: 89%;
        letter-spacing: -0.3px;
    }

    &__footer-text {
        flex: 30%;
        color: #706458;
        font-family: 'Varta';
        font-size: 18px;
        font-weight: 400;
        line-height: 139%;
    }

    &__navigation {
        flex: 40%;
        padding: 0px 11% 0px 0px;
        text-align: right;
    }

    &__navigation-button {
        display: flex;
        justify-content: right;
        margin: 0px 0px 20px 0px;
    }

    &__button-prev,
    &__button-next {
        position: relative;
        width: 40px;
        height: 40px;
        border: 2px solid #A06056;
        border-radius: 50%;
        transition: 0.5s ease;

        &::before {
            position: absolute;
            transform: translate(-50%, -50%);
            transition: 0.5s ease;
        }

        &:hover {
            background-color: #A06056;
        }

        &:hover::before {
            filter: brightness(0) invert(1);
        }

        &.swiper-button-disabled {
            &:hover {
                background-color: #fff;
            }

            &:hover::before {
                filter: none;
            }
        }
    }

    &__button-prev {
        margin: 0px 11px 0px 0px;

        &::before {
            content: url(../img/arrow-left.svg);
            top: 52%;
            left: 47%;
        }

        &.swiper-button-disabled {
            &:hover::before {
                left: 47%;
            }
        }
    }

    &__button-next {
        &::before {
            content: url(../img/arrow-right.svg);
            top: 52%;
            left: 53%;
        }

        &.swiper-button-disabled {
            &:hover::before {
                left: 53%;
            }
        }
    }

    &__navigation-pagination {
        padding: 0px 16% 0px 0px;
    }

    &__pagination {
        color: #7e7469;
        font-family: 'Varta';
        font-size: 18px;
        font-weight: 400;
        line-height: 139%;
        opacity: 0.5;
    }
}

.trends-slider {

    &__wrapper {}

    &__slide {
        padding: 0px 2% 0px 0px;
    }

    &__image {
        height: 65vh;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__title {}
}

.footer {

    &__block {
        margin: 0px 0px 64px 0px;
    }

    &__body {
        padding: 5% 10% 0px 0px;
    }

    &__content {
        display: flex;
        margin: 0px 0px 40px 0px;
        flex-wrap: wrap;
    }

    &__logo {
        flex: 5%;
        color: #534B42;
        margin: 0px 0px 40px 0px;
        padding: 0px 64px 0px 0px;
    }

    &__menu {
        flex: 65%;
        display: flex;
        margin: 0px -24px 0px -24px;
        flex-wrap: wrap;
    }

    &__menu-item {
        flex: 1 1 25%;
        margin: 0px 0px 40px 0px;
        padding: 0 24px;
    }

    &__menu-title {
        color: #534B42;
        margin: 0px 0px 22px 0px;
        font-family: 'Varta';
        font-size: 25px;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: -0.2px;
    }

    &__menu-links {}

    &__menu-link {
        display: block;
        margin: 0px 0px 12px 0px;
        white-space: nowrap;

        &:last-child {
            margin: 0px 0px 0px 0px;
        }
    }

    &__news {
        flex: 25%;
    }

    &__news-title {
        color: #534B42;
        margin: 0px 0px 24px 0px;
        font-family: 'Varta';
        font-size: 25px;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: -0.2px;
    }

    &__news-img {
        margin: 0px 0px 15px 0px;
        overflow: hidden;

        img {
            width: 100%;
            transition: 0.5s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    &__news-text {
        color: #706458;
        margin: 0px 0px 15px 0px;
        font-family: 'Varta';
        font-size: 16px;
        font-weight: 400;
        line-height: 156%;
    }

    &__link {
        display: inline-block;

        &::after {
            top: 1px;
        }
    }

    &__social {}

    &__social-links {
        margin: 0px 0px 20px 0px;
        text-align: center;
    }

    &__social-link {
        color: #706458b3;
        margin: 0px 24px 0px 0px;
        font-size: 32px;
        transition: 0.5s ease;

        &:hover {
            transform: translate(0px, -25%);
        }
    }

    &__social-inf {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__social-year {
        color: #706458b3;
        font-family: 'Varta';
        font-size: 18px;
        font-weight: 400;
        line-height: 139%;
    }

    &__social-policy {}

    &__policy-link {
        color: #706458b3;
        margin: 0px 0px 0px 30px;
        font-family: 'Varta';
        font-size: 18px;
        font-weight: 400;
        line-height: 139%;

        &:hover {
            text-decoration: underline;
        }
    }
}